.App {
  text-align: center;
}
/* .chat-texts {
  max-height: 80%;
  width: 20%;
  background-color: bisque;
}
.chat-container {
  height: 80vh;
  background-color: azure;
  width: 20%;
  margin-left: 1rem;
}
.chat-btn {
}
.chat-input {
  width: 100%;
}
.chat-ui {
  background-color: aqua;
} */
